<!-- This example is following frontend and backend separation.

    This .html performs two steps:
    1. Create a html template skeleton, with all the elements defined (some left empty) and named with ids.
    2. Load index.js to populate the data into empty elements.
    -->

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Load jQuery and Bootstrap JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script data-require="angular.js@*" data-semver="1.3.15" src="https://code.angularjs.org/1.3.15/angular.js"></script>
	<script data-require="ui-bootstrap@*" data-semver="0.12.1" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
	<link data-require="bootstrap-css@*" data-semver="3.3.1" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Movie List</title>
</head>
<body>


<h1>Movies</h1>
<div><button id="MainPage"> Main Page</button></div>
<!-- Id "star_table" is useful for jQuery to find the html element with id, class here is mapping to Bootstrap defined class CSS -->
<div ng-app="movies">
  <div ng-controller="MovieController">
    <!-- <table id=movie_table class="table table-striped">
    <!-- Create a table header -->
    <!-- <thead>
    <tr> -->
        <!-- Titles of each column-->
        <!-- <th>ID</th>
        <th id=movie_title>Title</th>
        <th>Year</th>
        <th>Director</th>
        <th id=movie_rating>Rating</th>
        <th>Genre</th>
        <th>Star</th>
    </tr>
    </thead> -->
    <!-- Table body is left empty here, will be populated with the data retrieved with index.js -->
    <!-- Again, id "star_table_body" is useful for jQuery to find this html element -->
    <!-- <tbody id=movie_table_body></tbody>
</table> --> 

<table  class="table table-striped">
	<tr>
	    <th>ID</th>
        <th> <a href = '#' ng-click="sortType = 'movie_title'" > Title <span ng-show="sortType == 'movie_title'" class="fa fa-caret-down"></span> </a></th>
        <th>Year</th>
        <th>Director</th>
        <th> <a href = '#' ng-click="sortType = 'movie_rating'" > Rating <span ng-show="sortType == 'movie_rating'" class="fa fa-caret-down"></span> </a></th>
        <th>Genre</th>
        <th>Star</th>
        <th>ADD</th>
	</tr>
	<tr ng-repeat="movie in filteredMovies | orderBy:sortType:true">
		<td>{{movie.movie_id}}</td>
		<td><a href="{{'single-movie.html?id=' + movie.movie_id}}" >{{movie.movie_title}}</a></td>
		<td>{{movie.movie_year}}</td>
		<td>{{movie.movie_director}}</td>
		<td>{{movie.movie_rating}}</td>
		<td>{{movie.movie_genre}}</td>
		<td><text ng-repeat="star in movie.stars"><a href="{{'single-star.html?id=' + star.star_id}}">{{star.star_name}} </a></text></td>
		<td><a href="{{'cart.html?id=' + movie.movie_id}}">Add</a>
	</tr>
</table>
    <pagination 
      ng-model="currentPage"
      total-items="movieList.length"
      max-size="10"  
      boundary-links="true">
    </pagination>
  </div>

</div>
<!-- Load our own JS file -->
<!-- The path is relative to index.html, since these two files are in the same directory -->
<!-- Note the url does not contain a "/" in the beginning, which means the url is relative to current path
     otherwise the url is relative to the root path-->
<script src="movieList.js"></script>
</body>


</html>