html, body {
	margin-left:15px, margin-right:15px;
	padding:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

table {
	border-collapse:collapse;
	border-bottom: 1px solid gray;
	font-family: Tahoma, Verdrana, Segoe, sans-serif;
	width:72%
}

th {
	border-bottom 1px solid gray;
	background none repeat scroll 0 0 #0775d3;
	padding: 10px;
	color: #FFFFFF
}

tr {
	border-top:1px solid gray;
	text-align:center;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }